# dependencies
/node_modules

# Next.js build output
/.next
/out

# production and logs
/build
*.log

# local environment files
.env*
!.env.example

# deployment providers
.vercel

# operating system files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo
